.dark-mode {
    background-color: #121212;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
  
.editor-wrapper {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    width: 1000px; /* Set width of the editor */
    margin-left: auto;
    margin-right: auto;
}

.editor-header {
    width: 100%;
    display: flex;
    justify-content: center; /* Center button horizontally */
    margin-bottom: 10px; /* Space between button and editor */
}

.toggle-button {
    padding: 8px 16px;
    background-color: inherit;
    font-family: "Montserrat";
    color: black;
    border: 1px solid #0f0f0f;
    outline: none;
    cursor: pointer;
    margin: 0.3rem; 
}

.toggle-button-dark {
    padding: 8px 16px;
    background-color: #375157;
    font-family: "Montserrat";
    color: white;
    border: 1px solid #0f0f0f;
    outline: none;
    cursor: pointer;
    margin: 0.3rem; 
}

.toggle-button:hover {
    background-color: #375157;
    color: white;
}

.editor-container {
    width: 1000px;
}
